/* Quiz.css */

.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center ; /* Distribute items along the main axis */
  align-items: center; /* Align items vertically */
  position: absolute;
  right: 35%;
  top: 10px;
}
  
  .quiz-container h1 {
    text-align: center;
  }
  
  .quiz-container h2 {
    margin-top: 20px;
  }
  
  .quiz-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quiz-container li {
    margin-bottom: 10px;
  }
  
  .quiz-container button {
    font-size: larger;
    font-weight: bolder;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #56299e;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    height: 200px;
    width: 200px;
    right: -24%;
    border-bottom: 1px solid #ccc; /* Add border color and width */
    border-radius: 10px;
  }
  
  .quiz-container button:hover {
    background-color: #7a4db1;
    transform: scale(1.05);
  }
  
  .result {
    margin-top: 60px;
  }
  
  .result p {
    margin-bottom: 10px;
  }
  
  .options {
    display: block;
  }
    

  .table-border {
    border: 2px solid white;
  }
  
  .table-border th,
  .table-border td {
    border: 1px solid white;
    padding: 8px;
  }

  .initially-wrong {
    font-size: 1.5em; /* Adjust the font size as needed */
  }
  
  .completed {
    font-size: 1.5em; /* Adjust the font size as needed */
  }
  

  

  /* Quiz.css */

.quiz-modules {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: space-evenly; /* Distribute items along the main axis */
  position: relative;
  top: 120px;
  left: 130px;
  max-height: 450px; /* Set the maximum height of the div */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 50px;
  scrollbar-width: thin;
  scrollbar-color: #434343 #f8f9fa; 
}

.user-messages::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.user-messages::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.user-messages::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

.quiz-modules{
  background-color: #283142;
  border-radius: 15px;
}

.quiz-modules > div {
  width: calc(33.33% - 20px); /* Calculate width for three items with margin */
  margin-bottom: 20px; /* Add margin between items */
}

.quiz-modules button {
  width: 100%; /* Make buttons take full width of their container */
  position: relative;
  left: 12%;
}


.analyze-quiz{
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.analyze-quiz button{
  height: 50px;
}

.end-quiz{
  position: absolute;
  bottom: 0px;
  right: -220px;
}

.end-quiz button{
  height: 50px;
}



.user-id-quiz{
  position: absolute;
  bottom: 10px;
  right: 5px;
}


.quiz-number {
  color: white; /* Different color for quiz number */
  text-decoration: underline;
  font-weight: bold;
  margin-right: 10px; /* Space between number and rest of the text */
}

