/* settings.css */

/* User ID positioning */
.user-id-settings {
  position: absolute;
  bottom: 10px;
  right: 5px;/* Adjusted for better alignment */
}

.settings-container .settings-img {
  position: relative;
  bottom: 20px;
  width: 20%;
  animation: rotate 4s linear infinite; /* Adjust the animation duration and timing function as needed */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Settings container */
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 50px 50px; /* Added padding for better spacing */
  background-color: #283142;
  border-radius: 10px;
  margin-top: 60px;
}

/* Settings buttons */
.settings-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  color: white;
}



.circle-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #283142;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #663D8A;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.circle-button:hover {
  background-color: #283142;
  transform: scale(1.05);
}


.circle-button img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.circle-button .profile-name {
  margin: 0;
  font-size: 14px;
  color: #283142;
  text-align: center;
}

.delete-button {
  color: #ff1121;
  font-size: 12px;
  background-color: #283142;
}



/* Profile section */
.profile-section {
  width: 300px; /* Adjusted width for better content fit */
  background-color: #171c25;
  padding: 20px;
  border-radius: 10px;
  position: relative; /* Changed to relative for easier positioning */
  margin-top: 20px; /* Adjusted spacing */
  opacity: 0; /* Set initial opacity */
  transform: translateY(-20px); /* Slide up initially */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Added transition */
}

/* Profile section animation */
.profile-section.open {
  opacity: 1;
  transform: translateY(0);
}

/* Profile info */
.profile-info {
  text-align: left;
}

/* Profile image */
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc; /* Light gray background for placeholder */
  margin: 0 auto 20px; /* Center image horizontally and add bottom margin */
}

/* Profile data */
.profile-info p {
  margin: 5px 0; /* Adjusted paragraph margins */
  color: #895EE6; /* Changed text color to white */
}


